<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Vue Js Loop</title>
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
<div id="example">
	<input type="text" v-model="num"/>
	<span>{{multi}}</span></br>
	<span>{{multi3()}}</span></br>
</div>

<script>
	var life = new Vue({
		el : "#example",
		data : { num : 0 },
		beforeCreate : function(){
			console.log("before create");
		},
		created : function () {
			console.log("created", this.num);
		},
		beforeMount : function() {
			console.log("before mount");
		},
		mounted : function() {
			console.log("mount");
		},
		beforeUpdate : function () {
			console.log("before update", this.num);
		},
		updated : function() {
			console.log("updated", this.num);
		},
		beforeDestroyed : function() {
			console.log("before destoryed");
		},
		destroyed : function () {
			console.log("destroyed");
		},
		computed : {
			multi : function() {
				console.log("call computed multi");
				return this.num * 2;
			}
		},
		methods : {
			multi3 : function() {
				console.log("call methods multi * 3");
				return this.num * 3;
			}
		}

	});
</script>
</body>
</html>