<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Vue Js Condition (v-if, v-show, v-else, v-else-if)</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
<div id="example">
    <p><input type="text" v-model="amount"/></p>
    <p>
        <button v-on:click="balance += parseInt(amount)">예금</button>
        <button v-on:click="balance -= parseInt(amount)">인출</button>
    </p>
    <h3 v-text="balance"></h3>
</div>

<div id="eventHandler">
    <p><input type="text" v-model="amount"/></p>
    <p>
        <button v-on:click="deposit">예금</button>
        <button @click="withdraw">인출</button>
    </p>
    <h3 v-text="balance"></h3>
</div>

<div id="eventPrevent" v-on:contextmenu="ctxStop">
    <p><a href="https://facebook.com" target="_blank" @click="moveToFaceBook">페이스북</a></p>
    <p><a href="https://www.naver.com" target="_blank" @click.prevent="bindNaver">네이버로 이동 불가</a></p>
    <p><a href="https://www.naver.com" target="_blank" @click.once.prevent="once">1번만호출</a></p>
</div>

<script>
    var account = new Vue({
        el : "#example",
        data : {
            amount : 0,
            balance : 0
        }
    });

    var accountHandler = new Vue({
        el : "#eventHandler",
        data : {
            amount : 0,
            balance : 0
        },
        methods : {
            deposit : function() {
                var amount = parseInt(this.amount) || 0;
                if (amount <= 0) {
                    alert("0보다 큰 값 입력");
                } else {
                    this.balance += amount;
                }
            },
        withdraw : function() {
                var amount = parseInt(this.amount) || 0;
                if (amount <= 0) {
                    alert("0, 음수 인출 불가");
                } else if (amount > this.amount) {
                    alert("잔고보다 많은 양을 인출 불가")
                } else {
                    this.balance -= amount;
                }
            }

        }
    });

    var clickPrevent = new Vue({
        el : "#eventPrevent",
        methods : {
        	ctxStop : function(e) {
        		console.log("마우스 오른쪽 버튼 클릭", e);
        		e.preventDefault();
            },
        	moveToFaceBook : function(e) {
        		console.log(e);

        		if (confirm("페이스북으로 이동할까요?") === false) {
        			e.preventDefault();
                }
            },
            bindNaver : function(e) {
                console.log("이동못해요..클릭", e);
            },
            once : function(e) {
        		alert("1번호출 끝!, 이동도 안함! 하지만 다음부턴 호출, 함수 호출을 안할뿐 기본 이벤트는 적용됨!");
            }
        }
    });
</script>
</body>
</html>